<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PersonDBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=PersonDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--连接字符串的名称-->
    <add key="ConnectionStringKey" value="PersonDBEntities"/>
    <!--实体容器的名称-->
    <add key="EntityContainerName" value="PersonDBEntities"/>
    <!--对象上下文类型 value="对象上下文类型全名，程序集名称"-->
    <add key="ObjectContextType" value="Entities.PersonDBEntities,Entities"/>
  </appSettings>
</configuration>